@YOUR-USERNAME:registry=https://npm.pkg.github.com/Kragada/WebPackageTest

$ npm login --scope=@OWNER --registry=https://npm.pkg.github.com/Kragada/WebPackageTest

> Username: USERNAME
> Password: TOKEN
> Email: PUBLIC-EMAIL-ADDRESS
