@YOUR-USERNAME:registry=https://npm.pkg.github.com/Kragada/WebPackageTest

$ npm login --scope=@OWNER --registry=https://npm.pkg.github.com/Kragada/WebPackageTest

> Username: Kragada
> Password: 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
> Email: rickard.hallberg1990@gmail.com
